$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$white: #FFF;
$black: #000;
$background-color: $white;
$text-color: #4D4D4D;
$border-radius: 5px;
$brand-color: #FF5627;

@mixin mobile {
  @media only screen and (max-device-width: 480px) {
    @content;
  }
}

@mixin data-filter($filter, $options...) {
  @each $opt in $options {
    [data-#{$filter}="#{$opt}"] [data-#{$filter}]:not([data-#{$filter}="#{$opt}"]) {
      display: none;
    }
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}

@keyframes fade-dot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

html {
  font-size: 62.5%;

  @include mobile {
    font-size: 52.5%;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
  font: 700 1.8rem/1.6 $font-stack;
  background: $white;
  color: $text-color;
  text-align: center;
  animation: fade-in .5s ease-in;
}

h1 {
  margin: 0;
  color: $brand-color;
  font-size: 3.2rem;
  line-height: 1.2;
  text-transform: uppercase;
}

@include mobile {
  h1 {
    font-size: 2.6rem;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 1;
  margin: 0;
}

@include mobile {
  h2 {
    font-size: 2rem;
  }
}

p {
  margin: 0;
}

a {
  color: $text-color;
  text-decoration: underline;
}

.btn {
  padding: 1rem;
  display: block;
  width: 100%;
  background-color: $brand-color;
  color: $white;
  border: none;
  border-radius: $border-radius;
  font-size: 2.4rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform .2s ease-in;

  &:hover,
  &:focus {
    color: $white;
    cursor: pointer;
    transform: scale(1.02);
  }
}

.widget {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  padding: 2.5rem;

  @include mobile {
    padding: 1.4rem 2.5rem;
  }
}

.video {
  margin: 2.5rem 0;

  @include mobile {
    margin: 1.5rem 0 2rem;
  }
}

.post-vote {
  border-radius: $border-radius;
  box-shadow: 0 5px 35px rgba(0,0,0,0.5);

  img {
    display: block;
    border-radius: $border-radius;
    max-width: 100%;
  }
}

a.close {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.3rem;
}

body[data-position="left"] {
  .widget {
    right: auto;
    left: 2.5rem;
  }
}

@include data-filter(loading, true, false);
@include data-filter(country, us, non-us);
